.playfair-display-p {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.navbar {
  transition: all 0.3s ease-in-out;
  opacity: 90%;
  padding: 12px;
  box-shadow: 0px 0px 30px rgba(170, 152, 140, 0.5);
}

.navbar-shrink {
  opacity: 100%;
  padding: 5px;
}

.navbar-brand img {
  width: 170px;
}

.header {
  background: url("../images/hero-background.png") center center no-repeat;
  background-size: cover;
}

.hero {
  min-height: 100vh;
  img {
    max-height: 75%;
  }
}

hr {
  border: 20px solid var(--bs-dark);
}

.about {
  background: url("../images/DufiProfi_preklad_dolu.png") top no-repeat;
  background-size: cover;
  background-position-y: -8px;
}

#products .card {
  transition: 0.5s;
}

#products .card:hover {
  transform: scale(1.05);
}

#slider {
  width: 90%;
  margin: 0 auto;
}

.contact-form,
.cenik_ostatni {
  background: url("../images/DufiProfi_preklad_nahoru.png") bottom no-repeat;
  background-size: cover;
}

// kompenzace posunu z navbaru
#sluzby,
#o_me,
#portfolio,
#kontakt,
#cenik_svatebni,
#cenik_maturitni,
#cenik_ostatni {
  position: relative;
  top: -90px;
}

#fotogalerie img {
  height: 20rem;
  border-radius: 6px;
}

@media (max-width: 768px) {
  // nebo 771px??
  .navbar {
    padding: 5px 20px !important;
  }

  .navbar-brand img {
    width: 130px;
  }

  .hero {
    padding: 100px 0 0 0 !important;

    .image-container {
      width: 70vw;
      height: 70vw;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 35%;
        padding: 3px !important;
      }
    }
  }

  #sluzby,
  #o_me,
  #portfolio,
  #kontakt,
  #cenik_svatebni,
  #cenik_maturitni,
  #cenik_ostatni {
    position: relative;
    top: -70px;
  }
}

@media (max-width: 576px) {
  #fotogalerie img {
    width: 100%;
    height: auto;
  }

  .hero {
    .image-container {
      margin: 0;
    }
    .text-container {
      padding: 5px !important;
    }

    #hlavni_nadpis {
      margin: 0 0 10px 0 !important;
    }

    #hlavni_popis {
      font-size: 1rem !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
