.playfair-display-p {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.header {
  background: url("../images/hero-background.png") center center no-repeat;
  background-size: cover;
}

.hero img {
  border-radius: 45px;
}

hr {
  border: 20px solid var(--bs-dark);
}

.about {
  background: url("../images/DufiProfi_preklad_dolu.png") top no-repeat;
  background-size: cover;
  background-position-y: -4px;
}

#products .card {
  transition: 0.5s;
}

#products .card:hover {
  transform: scale(1.05);
}

#slider {
  width: 90%;
  margin: 0 auto;
}

.contact-form {
  background: url("../images/DufiProfi_preklad_nahoru.png") bottom no-repeat;
  background-size: cover;
}

// kompenzace posunu z navbaru
#sluzby,
#o_me,
#portfolio,
#kontakt,
#cenik_svatebni,
#cenik_maturitni,
#cenik_ostatni {
  position: relative;
  top: -110px;
}

// #cenik {
//   overflow-y: scroll;
// }

#cenik {
  .cenik {
    background: url("../images/kvetina_top_left.png") no-repeat #fefcf7;
    background-size: 250px 175px;
  }
  .close-button {
    position: absolute;
    top: 15px;
    left: 85%;
    font-weight: bold;
  }
}

#cenik #accordion h5 {
  margin-bottom: 0;
}

#cenik #accordion p {
  padding-left: 25px;
  margin-bottom: 20px;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.fotogalerie img {
  max-width: 100%;
}
